@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  font-family: 'Inter', sans-serif;
}


:root {

  /* Main Button */
  --primary: #0f0e0d;

  /* Hover */
  --primary-hover: #1f1e1d;

  /* Background */
  --background: #f8fafc;

  /* Card */
  --surface: #ffffff;

  /* Text */
  --text-primary: #0f172a;
  --text-secondary: #64748b;

  /* Border */
  --border: #e2e8f0;

  /* Success */
  --success: #10b981;
}

.success-snackbar {
  --mdc-snackbar-container-color: #0f0e0d !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;
  --mat-mdc-snack-bar-button-color: #ffffff !important;
}

.error-snackbar {
  --mdc-snackbar-container-color: #dc2626 !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;
  --mat-mdc-snack-bar-button-color: #ffffff !important;
}

.footer {
  text-align: center;
  color: #64748b;
  font-size: 14px;
  background: #f8fafc;
}